* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-image: url('./bn.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    height: 200%;
    padding-top: 70px;

}
.foto-profile{
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 35px;
    justify-content: center;

}
.foto-profile img{
    width: 150px;
    border-radius: 100%;
    border: 5px solid white;
}
.foto-profile h1{
    color: white;
    font-size: 1.6rem;
    padding-top: 15px;
    font-family: 'poppins', sans-serif;
}
.bagian-link ul li{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    justify-content: center;
}

.bagian-link ul li a {
    color: white;
    font-size: 0.rem;
    font-weight: 600;
    font-family: 'poppins', sans-serif;
    text-decoration: none;
    text-align: center;
    margin: 5px 12%;
    padding: 13px;
    border: 2px solid white;
    border-radius: 50px;
    
}
.bagian-link ul li a:hover {
    background: rgba(255, 255, 255, .25);
    box-shadow: 0px 32px 0 rgba(31, 38, 135, .137);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    
}
.teknik{
    color: white;
    font-size: 1rem;
    padding-top: 15px;
    font-family: 'poppins', sans-serif;
}
.info{
    color: white;
    font-size: 1rem;
    padding-top: 15px;
    font-family: 'poppins', sans-serif;
    text-align: center;
}


nav {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    color: black;
    font-family: "Poppins", sans-serif;
}

.logo {
    color: rgb(226, 226, 226);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
    padding-top: 15px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 25%;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: rgb(226, 226, 226);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.burger {
    display: none;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: rgb(226, 226, 226);
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width: 1024px) {
    .nav-links {
        width: 60%;
    }
}

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
    
    .nav-links {
        position: fixed;
        right: 0px;
        height: 5vh;
        top: 8vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    
    .nav-links li {
        opacity: 0;
    }
    
    .burger {
        display: block;
        cursor: pointer;
    }
}

.nav-active {
        transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}